body{
  color: black;
  background-color:white;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: #308a91;
    border-radius: 5px;
     box-shadow: 13px 14px 15px -3px rgba(0,0,0,0.1);

  }
.navKnapper{
    display: block;
    border: none;
    color: rgb(224, 207, 195);
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    background-color: #44624892;
  }

.navKnapper:hover{
    background-color: rgb(146, 146, 146);
  }

#digital-bilde{
  height: 75%;
  width: 75%;
  padding-left: 10%;
  
  

}

.topical-body{
  text-align: left;
}
/*
Used code from https://cssgrid-generator.netlify.app/ to generate grids
*/
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .grid1-topical { grid-area: 1 / 2 / 6 / 4; }
  .grid2-topical {grid-area: 1 / 3 / 3 / 6; }
  .grid3-topical { grid-area: 1 / 4 / 6 / 6; }

  /*
used code from https://www.shecodes.io/athena/36411-how-to-position-an-image-under-a-header-using-html-and-css to center image
*/
  .first-picture {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 7%;
    height: 70%;
    width: 70%;
  }
.heading-topical{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-right: 2em;
}

#healthpicture{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5; 
}