body {
  color: black;
  background-color:whitesmoke;
  padding: 0;
  margin: 0;
}
.navbar {
  overflow: hidden;
  background-color: #a1a1a1;
  padding: 7.5px 7.5px 7.5px 3px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 7.5px 10px;
  text-decoration: none;
  border-radius: 4.5px;
  background-color: #868686d3;
  margin: 0 2.5px 0 5px ;
}
p {
  line-height: 1.5;
}

.dropdown-meny {
  float: left;
  overflow: hidden;
}

.dropdown-meny .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 7.5px 10px;
  background-color: #868686d3;
  font-family: inherit;
  border-radius: 4.5px;
  width: 110px;
  margin-left: 4.5px;
}

.navbar a:hover, .dropdown-meny:hover .dropbtn {
  background-color: #7a7a7af2
}

.navbar a:enabled {
  background-color: aqua;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a1a1a1;
  min-width: 119px;
  z-index: 1;
  align-self: center;
  border-radius: 4.5px;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 7.5px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #868686d3;
  border-radius: 4.5px;
  margin: 4.5px;
}

.dropdown-content a:hover {
  background-color: 7a7a7af2;
}

.dropdown-meny:hover .dropdown-content {
  display: block;
}

.page4 main{
  padding: 0;
  margin: 0;
  display: grid;
  height: 300vh;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
}

.boks1{
  grid-area: 1/1/3/6;
  text-align: center;
  font-size: 6rem;
  background: url(../media/Pilestredet-oversikt.jpeg) no-repeat center fixed;
  background-size: cover;
  color: yellow;
}

.boks2{
  background-color: yellow;
  grid-area: 3/1/4/6;
  text-align: center;
  padding: 10vw 20vw ;
  font-size: 1.7rem;
}




.boks3{
  background-color: rgb(55, 0, 255);

  grid-area: 4/1/5/3;
}
.boks4{
  background-color: rgb(238, 0, 255);
  grid-area: 4/3/5/6;
  padding: 40px;
}
.boks5{
  background-color: rgb(255, 0, 8);
  grid-area: 7/1/8/4;
  width: 50vw;
}
.boks6{
  background-color: rgb(255, 225, 0);
  grid-area: 7/4/8/6;

  
}
.boks4 iframe{
  width: 40vw;
  height: 20vw;

}


@media(maxWidth: 800px){



  


    }

    


  



 

  




@media (min-width: 801px) {

  .digital-bilde {
    height: 60%;
    width: 60%;
    padding-left: 20%;
  
  }
  /*Left aligns all text in the body of topical */
  .topical-body {
    text-align: left;
  }
  
  /*Makes a container the has a grid with 5 columns and 5 rows that are each 1 fraction and the gaps are each 3 times the font of the emelemt(em) */
  .container-topical {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }
  
  /*Makes a grid for the header in the page topical starting on row 1 and column 3 and ending on row 3 and column 6*/
  .grid-header-topical {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
  
    
  }
  
  /*Makes a grid for the header in the page topical starting on row 1 and column 2 and ending on row 6 and column 4*/
  .grid-body-topical {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
  
  }
  
  /*Makes a grid for the header in the page topical starting on row 2 and column 5 and ending on row 6 and column 4*/
  .grid-aside-topical {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 4;
    justify-content: center;
    
  
  
  }
  
  /*Styles the healthpicture with height 100% and width% and puts in in the center og the grid*/
  #healthpicture {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
  }
  
  /*Makes the header in the page topical in the grid and centered*/
  #topical-heading {
    display: grid;
    place-items: center;
  
  }
  
  .digibildev2{
  height: 30%;
  width: 100%;
  
  
  
  }
  #under-image-text{
    color: gray;
    margin-top: 0;
  }
  
  #snl-link{
    color: black;
  }
  
  .digibildev2 + p {
    margin-top: 0;
  }



}

/*Makes the header in the page topical in the grid and centered*/

#topical-heading {
  display: grid;
  place-items: center;
}

/* The styling for page 5 starts here:*/

.body4and5{
  text-align: left;
}

.container-page5{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}

.grid-header-page5{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 6;
}

.grid-body-page5{
grid-row-start: 1;
grid-row-end: 6;
grid-column-start: 2;
grid-column-end: 4;
}

.grid-aside-page5{
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 5;
  grid-column-end: 4;
  background-color: aqua;
}

#kjeller-bygg2{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}
#page5-kjeller-posisjon{
  width: 100%;
  height: 100%;
}