
/*Setting the general color and background-color and setting up standard padding and margin*/
body {
  color: black;
  background-color:whitesmoke;
  padding: 0;
  margin: 0;
}


/*Set line height to 1.5 to make text more readable*/
p {
  line-height: 1.5;
}


/*Sets background and text colours for all the footers hides overflow and centers bottom footer*/
footer {
  color: white;
  overflow: hidden;
  text-align: center;
  background-color: #24262b;

}


/*Makes links in the footer white when hovering. Improves responsivness*/
footer a:hover {
  color: white;
}

/*Making a navigation bar*/

.navbar {
  overflow: hidden;
  background-color: #24262b;
  border-radius: 4.5px;
  padding: 7.5px 7.5px 7.5px 3px;
}


.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 7.5px 10px;
  text-decoration: none;
  border-radius: 4.5px;
  background-color:#24262b;
  margin: 0 2.5px 0 5px ;
}

.dropdown-meny {
  float: left;
  overflow: hidden;
}


.dropdown-meny .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 7.5px 10px;
  background-color: #24262b;
  font-family: inherit;
  border-radius: 4.5px;
  width: 110px;
  margin-left: 4.5px;
}


.navbar a:hover, .dropdown-meny:hover .dropbtn {
  background-color: #7a7a7af2
}


.navbar a:enabled {
  background-color: aqua;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a1a1a1;
  min-width: 119px;
  z-index: 1;
  align-self: center;
  border-radius: 4.5px;
}


.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 7.5px 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #868686d3;
  border-radius: 4.5px;
  margin: 4.5px;
}


.dropdown-content a:hover {
  background-color: 7a7a7af2;
}


.dropdown-meny:hover .dropdown-content {
  display: block;
}


.page4 main{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.page4 main h3{
  padding-top: 7%;
  font-size: 1.7rem;
}

.page4 main p{
  padding-top: 5%;
  font-size: 1.3rem;
  padding-right: 8%;
  padding-left: 8%;
}

.boks1{
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  padding-top: 4%;
  padding-left: 11vw;
  padding-right: 11vw;
  background: url(../media/Pilestredet-oversikt.jpeg) center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 101vh;
}


.boks2{
  background-color: yellow;
  grid-area: 3/1/4/6;
  text-align: center;
  padding: 10vw 20vw ;
  font-size: 1.7rem;
}

.Kantina-bilde{
  grid-column-start: 1;
  grid-column-end: 2;
  background: url(../media/Pilestredet-oversikt.jpeg) center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 60vh;
}
.Kantina{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 60vh;

}
.Biblotek{
  grid-column-start: 1;
  grid-column-end: 2;
  height: 60vh;
}
.Biblotek-bilde{
  grid-column-start: 2;
  grid-column-end: 3;
  background: url(../media/Pilestredet-oversikt.jpeg) center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 60vh;
}
.Datatorget-bilde{
  grid-column-start: 1;
  grid-column-end: 2;
  background: url(../media/Pilestredet-oversikt.jpeg) center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 60vh;
}
.Datatorget{
  grid-column-start: 2;
  grid-column-end: 3;
  height: 60vh;
}

.boks3{
  grid-column-start: 1;
  grid-column-end: 2;
  height: 60vh;
}
.boks4{
  grid-column-start: 2;
  grid-column-end: 3;  
  height: 60;  
}
#pilestredkart{
width: 100%;
height: 100%;
}




/*Media query makes the website scale diffrently from pc to mobile*/
@media(max-Width: 800px) {

  
/*Styling for Topical(page3) starts here*/
  /*removes margin to make picture edge to edge in mobile*/
  .topical{
    margin: 0;
  }


  /*Adds margin to asides */
  .topical aside{
    margin-left: 1em;


  }
/*Adds margin to the paragraf to improve readability*/
  .topical p {
    margin: 1em;
  }

  .topical h1 {
    margin: 0.5em;


  }

  .topical h2 {
    margin: 0.5em;


  }

  .topical h3 {
    margin: 0.5em;


  }


  /*Makes the picture fit edge to edge and not spill over*/
  .topical-header-digi-picture {
    width: 100%;
  }

  .topical-body-health-picture {
    width: 100%;
  }
 /*Just styling for aesthetics*/
  .topical aside img{
    height: 6em;
    width: 35%;
    margin-right: 0;
    padding-right: 0;
  }

/*wraps the aside text in a div and makes a grid for them to be placed in*/
  .topical-aside-grid-text{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (1, 1fr);
    grid-row-gap: 5em;
    grid-column-gap: 0em;
  }
/*Places the links in the grid and adds styling for aesthetics*/
  .topical aside a {
    font-size: x-large;
    margin-top: -7em;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 12;
  }


/*The styling for phone display for page 5 starts here*/

/*Displays the page with block instead of grid to make it easier to place on a smaller display*/

.page5-body{
  display: block;
}

/*Makeing the main picture large to ensure that it takes up the whole part of its place. This ensures a systematic view on a phone display*/

#page5-header-campus-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin-left: 0.5%;
}

/*Making the main header large and placing it beneath the main picture. Both these things ensures good visibility on a phone screen*/

.page5-body h1 {
  color: yellow;
  margin-left: 25%;
  position: absolute;
  text-align: center;
}

/*Placing the paragraphs and pictures everyother to improve visibility. Setting background image to white to make it more readable*/

#page5-main-intro{
  margin-top: 20%;
  background-color: white;
  padding:3%;
  margin-left: 1%;
}

/*Placing the iframe div*/

.page5-main-position{
  width: 100%;
  height: 20em;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*Making the ifram use all availiable space*/

#page5-main-iframe{
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

/*Placing paragraph about the cafeteria*/

#page5-main-cafeteria{
  padding:3%;
  margin-left: 1%;
  margin-bottom: 1%;
}

/*Placing cafeteria image*/

#page5-main-cafeteria-img{
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*Placin library paragraph*/

#page5-main-library{
  padding:3%;
  margin-left: 1%;
}

/*Placing library image*/

#page5-main-library-img{
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*Placing the div containing the Lillestrøm header, i wanted this header to stand out more from the typical formation until now.*/

#page5-main-lillestrøm-h2-div{
  margin-bottom: 0%;
  padding-left: 2%;
  margin-left: 1%;
}

#page5-main-lillestrøm-h2{
  color: white;
}

/*Placing lillestrøm content*/

#page5-main-lillestrøm{
  margin-top: 0%;
  padding: 3%;
  margin-left: 1%;
  margin-bottom: 1%;
}

/*Placing the large lillestrøm image*/

#page5-main-lillestrøm-img{
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

}

/*End of media quearry for mobile phones*/

@media (min-width: 801px) {

/*Centers the first heading*/
  .topical h1 {
    text-align: center;
    font-size: 2.5em;


  }
/*Sizes the main picture for aesthetics and adds padding for aesthetics*/
  .topical-header-digi-picture {
    width: 45em;
    height: 25em;
    padding-left: 19vw;


  }


  /*Left aligns all text in the body of topical */
  .topical{
    text-align: left;
    margin: 0;
 
  }


  /*Makes a container the has a grid with 5 columns and 5 rows that are each 1 fraction and the gaps are each 3 times the font of the emelemt(em) */
  .topical-main-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }

  /*Makes a grid for the header in the page topical starting on row 1 and column 2 and ending on row 6 and column 4*/
  .grid-body-topical {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
  }


  /*Makes a grid for the header in the page topical starting on row 2 and column 5 and ending on row 6 and column 4*/
  .topical aside{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 4;
    justify-content: center;
  }

  /*Styles the healthpicture with height 100% and width 18% to not spill over to other content*/
  .topical-body-health-picture{
    width: 100%;
    height: 18%;
  }

 
/*Sizes the aside pictures for aesthetics*/
  .topical aside img{
    height: 30%;
    width: 16em;
  }

  .topical aside p {
    margin-top: 0;
    padding-left: 2%;
  }

  /*Makes the footer flush with the main content*/
  .topical footer{
    margin-top: -28%;
  }
/*Makes a container for the footer to be placed in a grid*/
  .grid-footer-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
/*Puts som text in the left part of the footer*/
  .grid-footer-left {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 8;
  }
/*Puts som text in the middle part of the footer*/
  .grid-footer-middle {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 14;
  }
/*Puts som text in the rigth part of the footer*/
  .grid-footer-rigth {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 18;
    grid-column-end: 20;
  }

  /*The pc display styling for page 5 starts here*/

  /*Giving the picture a large percentage on heigth and width to make stand out on top of the main picture*/

  #page5-header-campus-img{
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:  3%;
    border-radius: 0.5%;
  }
    
  /*Making a large h1 in the header, to make it stand out i use the yellow color and black shadow for improved visibility.*/
  
  .page5-body h1{
    position:absolute;
    left: 25%;
    top: 35%;
    font-size:7em;
    color: yellow;
    text-align: center;
    /*background-color: #16171aa7;*/
    text-shadow: rgb(0, 0, 0) 3px 2px 3px;
  }
  
  
  /*This is where the main content goes within. To be able to place elements with precision i use the grid system. grid-template for rows and collumns describes how many pieces the website will be divided into. Removing grid gap aswell.*/
  
  
  #page5-main-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }
  
  
  /*Placing the div in the grid and making sure to use margin and padding to improve visibility. Using background color to make the textbox stand out from the background. Changing the width and heigth to shape it.*/
  
  
  #page5-main-intro{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    border-radius: 1%;
    height: 75%;
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  
  /*Using heigth, width and margin i place and shape the div to be aestethic*/
  
  
  .page5-main-position{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 7;
    margin-top: 5%;
    height: 75%;
    width: 79%;
    margin-top: 5%;
    margin-left: 10%;
  }
  
  
  /*Making the iframe cover the whole div.*/
  
  
  #page5-main-iframe{
    width: 100%;
    height: 100%;
    border-radius: 1%;
  }
  
  
  /*Using heigth, width and margin to place the div containing the picture.*/
  
  
  #page5-main-cafeteria-img-div{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 75%;
    width: 85%;
    margin-left: 10%;
  }
  
  
  /*Giving the picture some properties such as borderline radius and a set width. The heigth is auto to make sure the picture doesent get distorted.*/
  
  
  #page5-main-cafeteria-img-div > #page5-main-cafeteria-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px 50px 0px 50px;
  }
  
  
  /*Using heigth, with and margin to place and shape the div to be the most aestethic.*/
  
  
  #page5-main-cafeteria{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 5;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1%;
    height: 75%;
    width: 70%;
    margin-left: 10%;
    margin-right: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  
  /*Using heigth, with and margin to place and shape the div to be the most aestethic.*/
  
  
  #page5-main-library{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 1%;
    height: 75%;
    width: 75%;
    margin-left: 10%;
  }
  
  
  /*Using heigth, width and margin to place the div containing the picture.*/
  
  
  #page5-main-library-img-div{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    width: 80%;
    height: 75%;
    margin-left: 10%;
  }
  
  
  /*Giving the picture some properties such as borderline radius and a set width. The heigth is auto to make sure the picture doesent get distorted.*/
  
  
  #page5-main-library-img-div > #page5-main-library-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px 0px 50px 0px;
  }
  
  
  /*Giving the header a div of its own to make it stand out more and to break up the previous system. Aligns the text in the center to match the rest of the following content*/
  
  
  #page5-main-lillestrøm-h2-div{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 9;
    text-align: center;
  }
  
  
  /*Giving the header a large font size*/
  
  
  #page5-main-lillestrøm-h2{
    font-size:xx-large;
    color: white;
  }
  
  
  /*Using heigth, with and margin to place and shape the div to be the most aestethic.*/
  
  
  #page5-main-lillestrøm{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9;
    margin-top: 12%;
    margin-bottom: 5%;
    padding: 2%;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
  }
  
  
  /*Using heigth, width and margin to place the div containing the picture.*/
  
  
  #page5-main-lillestrøm-img-div{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 9;
    grid-row-end: 12;
    margin-left: 12%;
  }
  
  
  /*Giving the picture some properties such as borderline radius and a set width. The heigth is auto to make sure the picture doesent get distorted.*/
  
  
  #page5-main-lillestrøm-img-div > #page5-main-lillestrøm-img {
    width: 76%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 5.5%;
    border-radius: 20px 20px 20px 20px;
  }

}

/*End of media quearry for pc*/

/*Makes the text under digi-picture grey and flush with the picture*/
#topical-under-header-text{
  color: gray;
  margin-top: 0;
}

/*Makes the links black instead of blue for aesthetics*/
.topical aside a {
  color: black;
}


/*Makes the bottom footer be black and ads padding to remove extra space at the bottom*/
.grid-footer-bottom{
  background-color: #16171a;
  padding: 1em;
}

/*Makes a red underline under the footers links for stylistic choices*/
#footer hr {
  width: 1.5em;
  border: 0.07em solid yellow;
}
/*Makes the links white and removes underline*/
#footer a{
  color: #D3D3D3;
  text-decoration: none;
 
}
/*Makes the header in the page topical in the grid and centered*/

#footer h4{
  font-size:larger; 

}
#footer{
  margin-right: -1%;
  margin-left: -1%;
  margin-bottom: -1%;
}

/*Styling for Topical(page3 ends here)*/

/* The general styling for page 5 starts here:*/

/*Asigning general things to the body of the html page regardless of the size of the display. Setting general background-color and the background-color of all the text boxes */
.page5-body{
  text-align: left;
  background-color:  #12275c;
}

#page5-main-intro{
  background-color: white;
}

#page5-main-cafeteria{
  background-color: white;
}

#page5-main-library{
  background-color: white;
}

#page5-main-lillestrøm{
  background-color: white;
}