body{
  color: black;
  background-color:white;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    background-color: #308a91;
    border-radius: 5px;
     box-shadow: 13px 14px 15px -3px rgba(0,0,0,0.1);

  }
.navKnapper{
    display: block;
    border: none;
    color: rgb(224, 207, 195);
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    background-color: #44624892;
  }

.navKnapper:hover{
    background-color: rgb(146, 146, 146);
  }

#digital-bilde{
  height: 60%;
  width: 60%;
  padding-left: 20%;
  
}

.topical-body{
  text-align: left;
}
/*
Used code from https://cssgrid-generator.netlify.app/ to generate grids
*/
.container-topical {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  }

  .grid-header-topical {grid-area: 1 / 3 / 3 / 6; }
  .grid-body-topical { grid-area: 1 / 2 / 6 / 4; }
  .grid-aside-topical { grid-area: 2 / 5 / 6 / 4; }

  /*
used code from https://www.shecodes.io/athena/36411-how-to-position-an-image-under-a-header-using-html-and-css to center image
*/

#healthpicture{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5; 
}

#topical-heading{
  display: grid;
  place-items: center;

}