body{
  color: black;
  background-color:white;
}
.navbar {
  overflow: hidden;
  background-color: #308a91;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(224, 207, 195);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-meny {
  float: left;
  overflow: hidden;
}

.dropdown-meny .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(224, 207, 195);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown-meny:hover .dropbtn {
  background-color: red;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(224, 207, 195);
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #308a91;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown-meny:hover .dropdown-content {
  display: block;
}

.topical-body{
  text-align: left;
}
#digital-bilde{
  height: 75%;
  width: 75%;
  padding-left: 10%;
}
/*
Used code from https://cssgrid-generator.netlify.app/ to generate grids
*/
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .grid1-topical { grid-area: 1 / 2 / 6 / 4; }
  .grid2-topical { grid-area: 1 / 1 / 6 / 2; }
  .grid3-topical { grid-area: 1 / 4 / 6 / 6; }

  /*
used code from https://www.shecodes.io/athena/36411-how-to-position-an-image-under-a-header-using-html-and-css to center image
*/
  .first-picture {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-left: 7%;
    height: 70%;
    width: 70%;
  }
.heading-topical{
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-right: 2em;
}

#healthpicture{
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

p {
  line-height: 1.5; 
}