/*
CSS setup:

General semantic styling (body,p,navbar,footer)
Indidual page general styling (1. index, 2. topical, 3. accesability, 4. makerspace)

Media quarry max 800px(mobile) styling, (in order: body,p,navbar,footer, index, topical, accesability, makerspace)

Media quarry min 801px styling (for computer), (same order as mobile)
*/
:root {
  --LIGHTCOLOR: #F4F6F8;
  --THEMECOLOR: #05153F;
  --LR-MARGIN-PC: 5vw;
  --LR-MARGIN-MOBILE: 1em;
  --TB-MARGIN-PC: 1em;
  --TB-MARGIN-MOBILE: 0.5em;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  font-family: Arial, Helvetica, sans-serif;
}
/*Set line height to 1.5 to make text more readable*/
p {
  line-height: 1.5;
}

/*general navbar styling STARTS here/*

/*Styling the navbar behind the buttons
hides elements when elements overflow in navbar box*/
.navbar {
  overflow: hidden;
  background-color: #05153F;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*Styles the text in the "navbar buttons to white, right size, aligns them to the senter of the element,
removes the undelines, as well as some margin and padding fixing to improve readability*/
.navbar a {
  float: left;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  border-radius: 0.35em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

/*Dropdown menu template source:https://www.w3schools.com/css/css_dropdowns.asp*/
/*lets elements float to the left and hides elements that overflow*/
.dropdown-meny {
  float: left;
  overflow: hidden;
}

/*styles the button that activates the menu so that they have similare styling to the other a elements in the nav*/
.dropdown-meny .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #05153F;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: inherit;
  border-radius: 0.35em;
  text-align: center;
}

/*makes hovering over the navbar links highlight them*/
.navbar a:hover,
.dropdown-meny:hover .dropbtn {
  background-color: #064b88;
}

/*Hides the dropdown buttons as a standard and gives it a absolute positioning, aswell as genereal styling to match the rest of the nav*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #05153F;
  z-index: 1;
  align-self: center;
  border-radius: 0.35em;
}

/* styles the dropdown links to match the nav*/
.dropdown-content a {
  float: none;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 0.35em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

/*highligts dropdown links and displays them on hover*/
.dropdown-content a:hover {
  background-color: #064b88;
}

.dropdown-meny:hover .dropdown-content {
  display: block;
}

/*general navbar styling ENDS here*/

/*general footer styling STARTS here*/
/*Sets background and text colours for all the footers, hides overflow and centers bottom footer*/
footer {
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  background-color: #24262b;
}


/*Makes the bottom footer black and adds padding to remove extra space at the bottom*/
#grid-footer-bottom {
  background-color: #16171a;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

/*Makes a yellow underline under the footers links for stylistic choices*/
footer hr {
  width: 1.5em;
  border-style: solid;
  border-color: #ffcc00;
  border-width: 0.07em;
}

/*Makes the links white and removes underline*/
footer a {
  color: #D3D3D3;
  text-decoration: none;
}

/*Makes links in the footer white when hovering. Improves accessability*/
footer a:hover {
  color: #ffffff;
}

/*Make the h4 larger to make i easier to read*/
footer h4 {
  font-size: larger;
}

/*general footer styling ENDS here*/

/*-----------------------------------------------*/
/*Index*/

.index a{
  text-decoration: none;
}

.index-1em-padding {
  padding: 1em;
}

.index-main h2 {
  font-size: clamp(1.7rem, 4vw, 5rem);
  margin: 0em;
  min-width: 100%;
}

.index-main h3 {
  font-size: clamp(1.5rem, 2.5vw, 5rem);
  margin-top: 0;
}

.index main p {
  font-size: clamp(1rem, 1.5vw, 4rem);
  margin: 0em;
}

.index img {
  max-width: 100%;
  width: 100%;
}


.index header img{
  min-width: 100%;
}

.index-flex-inside-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-around;
}

.index-main figure {
  margin: 0;
}


.index-section-two {
  background-image: url("/media/index-section-background.svg");
  color: var(--LIGHTCOLOR);
}

.index-section-two div div {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4em;
  width: 100%;
}

.index-section-two article {
  background-color: var(--LIGHTCOLOR);
  color: #24262b;
}

.hover:hover {
  cursor: pointer;
  text-decoration: underline;
}

.index-section-three div a{
  background-color: var(--THEMECOLOR);
  color: var(--LIGHTCOLOR);
}

.index-section-four {
  background-color: #16171a;
  color: var(--LIGHTCOLOR);
}

.index-campus-container {
  background-color: var(--LIGHTCOLOR);
  display: flex;
}

.index-section-four div img {
  height: 100%;
}

.index-section-four a {
  color: #24262b;
}

.index-section-five div div {
  display: grid;
  gap: 0.1em;
}

.index-section-five a{
  background-color: var(--THEMECOLOR);
  color: var(--LIGHTCOLOR);
  font-size: clamp(1rem, 1.5vw, 4rem);
  padding-bottom: 2em;
  padding-top: 2em;
  text-align: center;
  width: 10em;
}

/*-----------------------------------------------*/

/*END of styling for index outside of the media-quarry*/


/* START of general styling for topical */

/* Sets default styling for topical page */
.topical{
  color: #05153F;
  background-color:#ffffff;
}

/*Makes the links black instead of blue for aesthetics*/
.topical aside a {
  color: #000000;
}

/*general Styling for Topical ENDS here*/

/* general styling for page makerspace and similar accesibility classes STARTS here */

/* styles main inside page makerspace, aligns the text*/
.campuses main, .accesibility main {
  display: grid;
  text-align: center;
  background-color: #05153F;
  color: #ffffff;
}

/* styles level 3 headings inside makerspace main */
.campuses main h3, .accesibility main h3 {
  padding-top: 7%;
  font-size: 1.7rem;
}

/* styles all p inside makerspace main */
.campuses main p, .accesibility main p {
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
  padding-left: 8%;
  text-align: left;
  font-size: 1.3rem;
}

/*aligns the heading to center, and positions it relativ*/
.campuses .intro, .accesibility-heading {
  text-align: center;
  position: relative;
}

/*styles h1 and sets its position on top of the background */
.campuses .intro h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  color: #05153F;
  background-color: #bebdbd8d;
}

/*aligns the text*/
.campuses-underheading, .accesibility-underheading {
  text-align: center;
}
/*adjusts text for text paragraph under heading*/
.campuses-underheading p{
  font-weight: 600;
}
/*makes images fit the width of the frame*/
.campuses img, .accesibility img{
  width: 100%;
}


/* general styling for page makerspace and similar accesibility classes ENDS here */



/*END of tags that does not change depending on the size of the screen*/

/*Media query makes the website scale diffrently from pc to mobile*/
@media(max-width: 800px) {
/*Start of mobile styling for navbar*/
/*Changes the definition of font size so the mobile navbar fits in one line*/
  .navbar a {
    font-size: 3.5vw;
  }
  .dropdown-meny .dropbtn {
    font-size: 3.5vw;    
  }

/*end of mobile styling for navbar*/
  /*STYLING OF INDEX IN MOBILE VEIW STARTS HERE*/
 /*------------------------------------------*/
 .index {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Index*/
.index-main section {
  padding-top: var(--TB-MARGIN-MOBILE);
  padding-bottom: var(--TB-MARGIN-MOBILE);
  padding-left: var(--LR-MARGIN-MOBILE);
  padding-right: var(--LR-MARGIN-MOBILE);
}

.index-section-two div div {
  flex-direction: column;
  flex-wrap: nowrap;
}

.index-campus-container {
  flex-direction: column;
}

.index-section-five div div {
  grid-template-columns: repeat(2, 1fr);
}

/*------------------------------------------*/

   /*Start of page2 (accesability) mobile styling*/


  /*end of page2 (accesability) mobile styling*/

  /*mobile styling for Topical(page3) starts here*/

  /*Adds margin to asides to make images easier to see */
  .topical aside {
    margin-left: 1em;
  }

  /*Adds margin to the paragraf to improve readability*/
  .topical main {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  /*Adds margin to the h1,h2 and h3 to improve readability*/
  .topical h1,
  .topical h2,
  .topical h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  /*Makes the picture fit edge to edge and not spill over*/
  .topical-header-digi-picture,
  #topical-body-health-picture {
    width: 100%;
  }

  /* styling for aesthetics*/
  .topical aside img {
    width: 80%;
  }
  .topical aside p {
    margin: 0;
  }

  /*Mobile styling for Topical(page3) ends here*/

  /* The mobile styling for page makerspace and similar accesability classes and ids STARTS here:*/
  /* decides that mobile version only has 1 column */
  .campuses main, .accesibility main {
    grid-template-columns: 1fr;
  }

  /* decides positions of elements with grid-column start and end */
  .campuses .intro, .accesibility-heading {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* sets fitting font size for mobile */
  .campuses .intro h1 {
    font-size: 9vw;
  }

  /* places underheading in a mobile frendly format */
  .campuses-underheading, .accesibility-underheading {
    padding-top: 5vh;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-left: 5vw;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #campus-underhead-text{
    font-size: 1.5em;
  }
/*These next two elements places the elements in a fitting order for mobile*/
  .figure-box-right-1{
    grid-row-start: 5;
  }
  .figure-box-right-2{
    grid-row-start: 10;
    /*We placed this at the end because of its lenght*/
  }

  /* The mobile styling for accesability and campuses stops here:*/
}

/*STYLING for MOBILE view ENDS HERE*/

/*media-quarry that justifies what "styling-rules" that is used when on a screen larger then 801px*/
@media (min-width: 801px) {
  
  /*Footer computer styling starts here*/

  /*Makes a container for the footer to be placed in a grid*/
  #grid-footer-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  /*Puts som text in the left part of the footer*/
  #grid-footer-left {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 8;
  }

  /*Puts som text in the middle part of the footer*/
  #grid-footer-middle {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 14;
  }

  /*Puts som text in the rigth part of the footer*/
  #grid-footer-right {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 18;
    grid-column-end: 20;
  }

  /*Makes the bottom footer be black and ads padding to remove extra space at the bottom*/
  #grid-footer-bottom {
    background-color: #16171a;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }

  /*Makes the links white and removes underline*/
  footer a {
    color: #D3D3D3;
    text-decoration: none;
  }

  /*Makes the headers larger to make it easier to read*/
  footer h4 {
    font-size: larger;
  }

  /*STYLING OF INDEX IN PC-VEIW STARTS HERE*/
  /*Makes some of the content edge to edge and all 100% width*/
  /*------------------------------------------*/
    /*Index*/
    .index-main section {
      padding-top: var(--TB-MARGIN-PC);
      padding-bottom: var(--TB-MARGIN-PC);
      padding-left: var(--LR-MARGIN-PC);
      padding-right: var(--LR-MARGIN-PC);
  }

  .index-section-one p {
      column-count: 2;
  }

  .index-section-two div div {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .index-section-two article {
      width: 100%;
      height: auto;
  }

  .index-campus-container div {
      width: 50%;
  }

  
  .index-section-three div a{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .index-section-three div a img{
      width: 20%;
  }

  .index-gallery-grid-2{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
  }
  .index-gallery-grid-3{
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 5;
  }
  .index-gallery-grid-4{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 7;
  }

  /*------------------------------------------*/
  /*STYLING OF INDEX IN PC-VEIW ENDS HERE*/


  /*Page accesability computer styling starts here*/

  /*styles img for readablility*/
  .accessibility img {
    width: 30em;
  }

  /*ads padding for improved readability*/
  .accessibility h2 {
    padding-left: 1em;
  }


  /*Page accesability computer styling ends here*/

  /*Page Topical computer styling starts here*/

  /*Centers the first heading*/
  .topical h1 {
    text-align: center;
    font-size: 3em;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
  }

  /*Sizes the main picture for aesthetics and adds padding for aesthetics*/
  .topical-header-digi-picture {
    width: 100%;
  }

  /*Makes a container the has a grid with 5 columns and 5 rows that are each 1 fraction and the gaps are each 3em */
  .topical main {
    display: grid;
    column-gap: 3vw;
    @media (max-width:1200px){
      grid-template-columns: 1fr 7fr 1fr ;
      grid-template-rows: repeat(5, auto);
    }
  }
.topical main .intro{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    @media (max-width:1200px) {
      grid-column-end: 3;
    }
  }
  /*Makes a grid for the body to put it in the left-middle*/
  .topical article {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*Puts the aside to the rigth of the main text*/
  .topical aside {
    justify-content: center;    
    @media (max-width:1200px){
      grid-row-start: 5;
      grid-row-end: 6;
      grid-column-start: 2;
      grid-column-end: 3;
    };
  }

  /*Styles the healthpicture to fit well inside the grid*/
  #topical-body-health-picture {
    width: 100%;
  }

  /*Sizes the aside pictures to an appropriate size relative to the page*/
  .topical aside img {
    width: 16em;
  }

  /*Makes the text flush with the imageand ads some padding for style*/
  .topical aside p {
    margin-top: 0;
    padding-left: 0.5em;
  }
  /*Page Topical computer styling ends here*/


  /* The Computer styling for page makerspace and similar accesability classes and ids STARTS here:*/

  /* Makes grid in main two columns with same width */
  .campuses main, .accesibility main {
    grid-template-columns: 1fr 1fr;
  }

  /* places heading */
  .campuses .intro, .accesibility-heading{
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* places underheading in a computer friendly format */
  .campuses-underheading, .accesibility-underheading{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.7rem;
    padding-top: 10vw;
    padding-right: 20vw;
    padding-bottom: 10vw;
    padding-left: 20vw;
  }

  #campus-underhead-text{
    font-size: 2.3vw;
  }
  
  /* Places content in boxes next to eachother in the main, and aligns them in the centre*/
  .figure-box-left-1, .figure-box-left-2, .text-box-left-1,.text-box-left-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    margin: auto;
  }

  /* Places content in boxes next to eachother in the main, and aligns them in the centre*/
  .text-box-right-1, .figure-box-right-1,.text-box-right-2,
  .figure-box-right-2{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
  }
.figure-box-left-1 img, .figure-box-right-1 img,
.figure-box-left-2 img, .figure-box-right-2 img{
    height: 64vh;
    object-fit: contain;
    min-height: 410px;
}
#test-screenshot-4{
  min-height: 460px;
}

#pilestred-map{
    height: 64vh;
    width: 49vw;
    min-height: 410px;
}
  /* The Computer styling for page makerspace and similar accesability classes and ids ENDS here:*/
}
/*End of media quearry for pc*/
@media screen and (min-width:1201px) {
  .index-secondary-box-div{
    max-width: 328px;
    width: 20vw;
    }
  .topical main {
      grid-template-columns: 1fr 3fr 1fr 1fr ;
      grid-template-rows: repeat(4, auto);
  }
  .topical .intro{
    grid-column-end: 4;
  }
  .topical aside {  
      grid-row-start: 3;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 4;
  }
  .topical h1 {
    grid-column-end: 4;
}
}

@media (min-width: 1200px) {
  .index-section-two article {
      background-color: var(--LIGHTCOLOR);
      width: 42vw;
      color: #24262b;
  }

}