/*Set line height to 1.5 to make text more readable*/
p {
  line-height: 1.5;
}
body{
  margin: 0;
  padding: 0;
}
/*general navbar styling STARTS here/*

/*Styling the navbar behind the buttons
hides elements when elements overflow in navbar box*/
.navbar {
  overflow: hidden;
  background-color: #05153F;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
}

/*Styles the text in the "navbar buttons to white, right size, aligns them to the senter of the element,
removes the undelines, as well as some margin and padding fixing to improve readability*/
.navbar a {
  float: left;
  font-size: 1rem;
  color: #ffffff;
  text-align: center;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  border-radius: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
}

/*Dropdown menu template source:https://www.w3schools.com/css/css_dropdowns.asp*/
/*lets elements float to the left and hides elements that overflow*/
.dropdown-meny {
  float: left;
  overflow: hidden;
}

/*styles the button that activates the menu so that they have similare styling to the other a elements in the nav*/
.dropdown-meny .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #05153F;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: inherit;
  border-radius: 5%;
  text-align: center;
}

/*makes hovering over the navbar links highlight them*/
.navbar a:hover,
.dropdown-meny:hover .dropbtn {
  background-color: #064b88;
}

/*Hides the dropdown buttons as a standard and gives it a absolute positioning, aswell as genereal styling to match the rest of the nav*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #05153F;
  z-index: 1;
  align-self: center;
  border-radius: 5%;
}

/* styles the dropdown links to match the nav*/
.dropdown-content a {
  float: none;
  color: #ffffff;
  padding-top: .7em;
  padding-bottom: .7em;
  padding-left: .7em;
  padding-right: .7em;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/*highligts dropdown links and displays them on hover*/
.dropdown-content a:hover {
  background-color: #064b88;
}

.dropdown-meny:hover .dropdown-content {
  display: block;
}

/*general navbar styling ENDS here*/

/*general footer styling STARTS here*/
/*Sets background and text colours for all the footers, hides overflow and centers bottom footer*/
footer {
  color: #ffffff;
  overflow: hidden;
  text-align: center;
  background-color: #24262b;
}

/*Makes links in the footer white when hovering. Improves accessability*/
footer a:hover {
  color: #ffffff;
}

/*Makes the bottom footer black and adds padding to remove extra space at the bottom*/
.grid-footer-bottom {
  background-color: #16171a;
  padding: 1em;
}

/*Makes a yellow underline under the footers links for stylistic choices*/
#footer hr {
  width: 1.5em;
  border-style: solid;
  border-color: #ffcc00;
  border-width: 0.07em;

}

/*Makes the links white and removes underline*/
#footer a {
  color: #D3D3D3;
  text-decoration: none;

}

/*Make the h4 larger to make i easier to read*/
#footer h4 {
  font-size: larger;
}

/*makes the footer flush with footer*/
#footer {
  margin-right: -1%;
  margin-left: -1%;
  margin-bottom: -1%;
}

/*general footer styling ENDS here*/

/*  General styling of index STARTS here*/

/*Settinng the width so the page expands to match the current screen. Border-box makes that the padding and border are included in the width and height.*/
#index-body {
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
}

/*
Setting a common font family to nearly all p-elements by using a class
using letter 
*/
.index-p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
}

/*height is set to auto, while that the img is given a width, so that the browser automaticaly calculates the height so that the img keeps its ratio */
#index-header-img {
  width: 100vw;
  height: auto;
}

/*Taken inspiration and code from:https://stackoverflow.com/questions/2570972/css-font-border, on the text-shadow.*/
.index-oslomet-span {
  color: #ffcc00;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  font-size: 1.5em;
  font-weight: bolder;
}

/*sets background color on the main container as well as sets black as the standard textcolor*/
#index-main-container {
  background-color: whitesmoke;
  color: #000000;
}

/*Increses font weight for readability, removes dot in front of li elements, styling to mimic the FB "messenger" text bubbles*/
.index-under-intro-li {
  background-color: #006efe;
  color: #ffffff;
  font-weight: 600;
  border-radius: 2em 2em 2em 0em;
  box-shadow: 1em 1em 1em #808080;
  margin-top: 5%;
  margin-right: 5%;
  padding: 0.5em;
  list-style: none;
}

/*Streches the img to fit inside the container it is in, smoothing of cornes for asthetics*/
#index-under-intro-img {
  width: 100%;
  height: auto;
  border-radius: 1%;
}

/*Styling of elements in the secondary box in index under*/

/*aligning the text in the container to center as well as color-styling*/
#index-secondary-box {
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
}

/*Displaying flex on the container to center the element inside, nowrap on the elements to prevent them from wrapping*/
#index-secondary-box-flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

/*aligned the text to left to improve the readability, as well as asthetic styling*/
.index-secondary-box-div {
  background-color: #e4e4e4;
  color: #000000;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 2%;
  text-align: left;
}

/*stretching the img to fit the container, forcing the hight insted of auto to have the same size on the pictures*/
.index-secondary-box-img {
  width: 100%;
  height: 25%;
}

/*END of Styling of elements in the secondary box*/

/*Styling of third box*/
/*Displaying flex on the content inside the container, for later to set colum/row in the media-quarries*/
#index-third-box-flex {
  display: flex
}

/*Streches the img to the containers width, some smoothing of corners*/
.index-campus-img {
  width: 100%;
  height: auto;
  border-radius: 1%
}

/*padding and margin to improve readability*/
.index-campus-p {
  padding: 1rem;
  margin-bottom: 5%;
}

/*Color-styling, margin and padding for accessability and asthetics, smoothing of corners*/
#index-third-box {
  background-color: #05153F;
  color: #ffffff;
  padding-top: 1vh;
  padding-bottom: 3vh;
  margin-top: 3vh;
  border-radius: 2%;
}

/*making the h2 larger as well as positining it out from the left-side*/
#index-third-box h2 {
  font-size: 2rem;
  padding-left: 1vw;
}

/*making the h3 larger as well as positining it out from the left-side*/
#index-third-box h3 {
  font-size: 1.7rem;
  padding-left: 1vw;
}

/*Color-styling for readability and asthetics, displaying flex to position the elements inside in the center*/
.index-third-campus-div {
  background-color: #f0f8ff;
  color: #000000;
  display: flex;
  justify-content: center;
}

/*removing the underline on the link*/
.index-campus-clickable-a {
  text-decoration: none;
  color: #000000;
}

/*styling on hover, with reduces opacity and underline on text, for accessebility.*/
.index-campus-clickable-a:hover {
  text-decoration: underline;
  opacity: 70%;
}

/*END og styling of third box*/
/*END of styling for index outside of the media-quarry*/


/* START of general styling for topical */
/*Makes the text under digi-picture black and flush with the picture*/
#topical-under-header-text {
  color: #000000;
  margin-top: 0;
}

/*Makes the links black instead of blue for aesthetics*/
.topical aside a {
  color: #000000;
}

/*general Styling for Topical(page3 ENDS here)*/

/* general Styling for accesability page STARTS here*/
/*Color-styling for better contrast*/
.accessibility {
  background-color: #05153F;
  color: white;
}

/* general Styling for accesability page ENDS here*/


/* general styling for page 4 starts here */

/* styles main inside page 4(pilestredet), aligns the text*/
.campuses main {
  display: grid;
  text-align: center;
  background-color: #05153F;
  color: #ffffff;
}

/* styles level 3 headings inside page 4 main */
.campuses main h3 {
  padding-top: 7%;
  font-size: 1.7rem;
}

/* styles all p inside page 4 main */
.campuses main p {
  padding-top: 5%;
  font-size: 1.3rem;
  padding-right: 8%;
  padding-left: 8%;
}

/*aligns the heading to center, and positions it relativ*/
.campuses-heading {
  text-align: center;
  position: relative;
}

/*styles h1 and sets its position on top of the background */
.campuses-heading h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vw;
  color: #05153F;
  background-color: #bebdbd8d;
}

/* styles pic to fill gridbox */
#pilestredet-picture {
  width: 100%;
  height: 100%;
  justify-content: center;
}

/*aligns the text*/
.campuses-underheading {
  text-align: center;
}

/*Aligns the content and make i width 100% to fit the page*/
.cafeteria-pic-box {
  width: 100%;
  justify-content: center;
}

/*Aligns the content and make i width 100% to fit the page*/
.biblotek-bilde-boks {
  width: 100%;
  justify-content: center;

}

/*Aligns the content and make i width 100% to fit the page*/
.computer-picture-box {
  width: 100%;
  justify-content: center;
}

/*Makes the content scale with viewheigth */
.cafeteria {
  height: 60vh;
}

/* styles pic to fill gridbox */
#cafeteria-picture {
  width: 100%;
  height: 100%;
}

/*Makes the content scale with viewheigth */
.library {
  height: 60vh;
}

/*Styles pic to fill grid*/
#library-picture {
  width: 100%;
  height: 100%;
}

/*Makes the content scale with viewheigth */
.computer-square {
  height: 60vh;
}

/* styles pic to fill gridbox */
#computer-picture {
  width: 100%;
  height: 100%;
}

/*Makes the content scale with viewheigth */
.campuses-map-text {
  height: 60vh;
}

/*Makes the content fit to fill the grid*/
#pilestred-map {
  width: 100%;
  height: 100%;
}

/* general styling for page 4 stops here */

/* The general styling for page 5 starts here:*/

/*Make the main image fill the screen and centered*/
#kjeller-picture {
  width: 100%;
  height: 100%;
  justify-content: center;
}

/*Make the map fill the screen and centered*/
#kjeller-map {
  width: 100%;
  height: 100%;
}

/* The general styling for page 5 stops here:*/
/*END of tags that does not change depending on the size of the screen*/



/*Media query makes the website scale diffrently from pc to mobile*/
@media(max-width: 800px) {

   /*STYLING OF INDEX IN MOBILE VEIW STARTS HERE*/
  /*Using flex to make content below eachother*/
  #index-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /*Ads padding for improved readability*/
  #index-main-container {
    padding: 1em;
  }

  /*Ads padding for  readability*/
  .index-p {
    margin: 1rem;
  }

  /*Ads margin to make headers easier to read*/
  .index-h2,
  .index-h3 {
    margin: 1rem;
  }

  /*Align content to a coloumn each below eachother for mobile view*/
  #index-secondary-box-flex-container {
    flex-direction: column;
    align-items: center;
  }

  /*Styling for to make it an appropriate size for mobile view */
  .index-secondary-box-div {
    width: 90%;
    height: auto;
  }

  /*Styling for to make it an appropriate size for mobile view */
  #index-third-box-flex {
    flex-direction: column;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  /*Ads styling for aesthetics and flex to for mobile view*/
  .index-third-campus-div {
    border-radius: 1%;
    margin: 0em;
    padding: 0em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  /*Index mobile styling ends here*/

   /*Start of page2 (accesability) mobile styling*/

  /*Makes the text bigger for mobile*/
  .accessibility p {
    font-size: 1.5em;
  }

  /* places elements below eachother for mobile view*/
  .accessibility-main-container-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  /* places elements below eachother for mobile view*/
  .accessibility-main-text-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* places elements below eachother for mobile view*/
  .accessibility-main-img-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  /*Makes the footer fit edge to edge*/
  .accessibility footer {
    margin: 0;
  }

  /*end of page2 (accesability) mobile styling*/

  /*mobile styling for Topical(page3) starts here*/

  /*Adds margin to asides to make images easier to see */
  .topical aside {
    margin-left: 1em;
  }

  /*Adds margin to the paragraf to improve readability*/
  .topical p {
    margin: 1em;
  }

  /*Adds margin to the h1,h2 and h3 to improve readability*/
  .topical h1,
  .topical h2,
  .topical h3 {
    margin: 0.5em;
  }

  /*Makes the picture fit edge to edge and not spill over*/
  .topical-header-digi-picture,
  .topical-body-health-picture {
    width: 100%;
  }

  /* styling for aesthetics*/
  .topical aside img {
    height: 6em;
    width: 35%;
    margin-right: 0em;
    padding-right: 0em;

  }

  /*wraps the aside text in a div and makes a grid for them to be placed in*/
  .topical-aside-grid-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: (1, 1fr);
    grid-row-gap: 5em;
    grid-column-gap: 0em;
  }

  /*Places the links in the grid to the rigth of the images and adds styling for readability*/
  .topical aside a {
    font-size: x-large;
    margin-top: -7em;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 6;
    grid-column-end: 12;
  }

  /*Mobile styling for Topical(page3) ends here*/

  /* The mobile styling for page 4 starts here:*/
  /* decides that mobile version only has 1 column */
  .campuses main {
    grid-template-columns: 1fr;
  }

  /* decides positions of elements with grid-column start and end */
  .campuses-heading {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* sets fitting font size for mobile */
  .campuses-heading h1 {
    font-size: 9vw;
  }

  /* places underheading in a mobile frendly format */
  .campuses-underheading {
    padding-top: 5vh;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-left: 5vw;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* places elements below eachother and sets their height */
  .cafeteria {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .cafeteria-pic-box {
    grid-row-start: 4;
    grid-row-end: 5;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .library {
    grid-row-start: 5;
    grid-row-end: 6;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .biblotek-bilde-boks {
    grid-row-start: 6;
    grid-row-end: 7;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .computer-square {
    grid-row-start: 7;
    grid-row-end: 8;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .computer-picture-box {
    grid-row-start: 8;
    grid-row-end: 9;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .campuses-map-text {
    grid-row-start: 9;
    grid-row-end: 10;
    height: 60vh;
  }

  /* places elements below eachother and sets their height */
  .campuses-map {
    grid-row-start: 10;
    grid-row-end: 11;
    height: 60vh;
  }
  /* The mobile styling for page 4 stops here:*/

}/*STYLING for MOBILE view ENDS HERE*/





/*media-quarry that justifies what "styling-rules" that is used when on a screen larger then 801px*/
@media (min-width: 801px) {
/*Styling for normal computer view starts here*/

  /*Page 4 pilestredet computer styling starts here*/

  /* Makes grid in main two columns with same width */
  .campuses main {
    grid-template-columns: 1fr 1fr;
  }

  /* places heading */
  .campuses-heading {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  /* places underheading in a computer friendly format */
  .campuses-underheading {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.7rem;
    padding-top: 10vw;
    padding-right: 20vw;
    padding-bottom: 10vw;
    padding-left: 20vw;
  }

  /* Places content in boxes next to eachother in the main*/
  .cafeteria-pic-box {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /* Places content in boxes next to eachother in the main*/
  .biblotek-bilde-boks {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /* Places content in boxes next to eachother in the main*/
  .computer-picture-box {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  /* Places content in boxes next to eachother in the main*/
  .cafeteria {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  /* Places content in boxes next to eachother in the main*/
  .library {
    grid-column-start: 1;
    grid-column-end: 2;
  }
    /* Places content in boxes next to eachother in the main*/
  .computer-square {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .campuses-map-text {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .campuses-map {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*Page 4 pilestredet computer styling ends here*/

  /*Page accesability computer styling starts here*/

  /*grid container for accessibility makes 12 similiar sized columns and 2 rows to put content in*/
  .accessibility-main-container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0em;
    grid-row-gap: 0em;

  }

  /*styles img for readablility*/
  .accessibility img {
    width: 30em;
  }

  /*ads padding for improved readability*/
  .accessibility h2 {
    padding-left: 1em;
  }

  /*puts header inside the grid to the middle*/
  .accessibility-main-grid {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 12;

  }

  /*puts imges in the grid to the rigth of the text*/
  .accessibility-main-img-grid {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 10;
    margin-top: 10em;

  }
    /*puts text in the grid to the left of the images*/
  .accessibility-main-text-grid {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 6;
    margin-top: 10em;
  }

  /*Page accesability computer styling ends here*/

  /*Page Topical computer styling starts here*/

  /*Centers the first heading*/
  .topical h1 {
    text-align: center;
    font-size: 3em;
  }

  /*Sizes the main picture for aesthetics and adds padding for aesthetics*/
  .topical-header-digi-picture {
    width: 60em;
    height: 30em;
    padding-left: 19vw;
  }

  /*Left aligns all text in the body of topical */
  .topical {
    text-align: left;
    margin-bottom: 1em;
  }


  /*Makes a container the has a grid with 5 columns and 5 rows that are each 1 fraction and the gaps are each 3em */
  .topical-main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  /*Makes a grid for the body to put it in the left-middle*/
  .grid-body-topical {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  /*Puts the aside to the rigth of the main text*/
  .topical aside {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 4;
    justify-content: center;
  }

  /*Styles the healthpicture to fit well inside the grid*/
  .topical-body-health-picture {
    width: 100%;
    height: 30%;
  }

  /*Sizes the aside pictures to an appropriate size relative to the page*/
  .topical aside img {
    height: 30%;
    width: 16em;
  }
/*Makes the text flush with the imageand ads some padding for style*/
  .topical aside p {
    margin-top: 0;
    padding-left: 1%;
  }

  /*Makes the footer flush with the main content*/
  .topical footer {
    margin-top: -10%;
  }

  /*Page Topical computer styling ends here*/

  /*Footer computer styling starts here*/

  /*Makes a container for the footer to be placed in a grid*/
  .grid-footer-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  /*Puts som text in the left part of the footer*/
  .grid-footer-left {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 6;
    grid-column-end: 8;
  }

  /*Puts som text in the middle part of the footer*/
  .grid-footer-middle {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 14;
  }

  /*Puts som text in the rigth part of the footer*/
  .grid-footer-rigth {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 18;
    grid-column-end: 20;
  }

  /*Making a large h1 in the header, to make it stand out i use the yellow color and black shadow for improved visibility.*/
  #h1-kjeller {
    position: absolute;
    left: 15%;
    top: 20%;
    font-size: 10em;
    color: #ffff00;
    text-align: center;
    /*background-color: #16171aa7;*/
    text-shadow: #000000 1em 1em 1em;
  }

  /*This is where the main content goes within. To be able to place elemnts with precision i use the grid system. grid-template for rows and collumns describes how many pieces the website will be divided into. Removing grid gap aswell.*/
  #kjeller-main-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }

  /*Placing the div in the grid and making sure to use margin and padding to improve visibility. Using background color to make the textbox stand out from the background. Changing the width and heigth to shape it.*/
  .grid-intro-kjeller {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #ffffff;
    border-radius: 1%;
    height: 75%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  /*Makes the bottom footer be black and ads padding to remove extra space at the bottom*/
  .grid-footer-bottom {
    background-color: #16171a;
    padding: 1em;
  }

  /*Making the iframe cover the whole div.*/
  #campus-kjeller-posisjon {
    width: 100%;
    height: 100%;
  }

  /*Using heigth,width and margin to place the div containing the picture.*/
  #picture-kjeller-cafeteria-div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
    height: 75%;
    width: 80%;
    margin-left: 15%;
  }

  /*Makes the links white and removes underline*/
  #footer a {
    color: #D3D3D3;
    text-decoration: none;
  }
  /*Makes the headers larger to make it easier to read*/
  #footer h4 {
    font-size: larger;
  }
  /*Removes margin to make it edge to edge*/
  #footer {
    margin-right: -1%;
    margin-left: -1%;
    margin-bottom: -1%;
  }

  /*Using heigth, width and margin to place the div containing the picture.*/
  #picture-kjeller-library-div {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    width: 80%;
    height: 75%;
    margin-left: 10%;
  }

  /*Giving the picture some properties such as a set width. The heigth is auto to make sure the picture doesent get distorted.*/
  #picture-kjeller-library-div>#picture-kjeller-library {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  /*STYLING OF INDEX IN PC-VEIW STARTS HERE*/
  /*Makes some of the content edge to edge and all 100% width*/
  #index-body {
    width: 100%;
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
  }
  /*Creates and container for the main content ahve 11 1fr columns and 30 1fr rows*/
  #index-main-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(30, 1fr);
  }

  /*Places h1 tag in cloumn 2 start 11 end*/
  #index-h1-container {
    grid-column-start: 2;
    grid-column-end: 11;
  }
  /*Places into paragraphs in the grid in column 2 and row 2 and ending 11 and 5*/
  #index-intro-p {
    columns: 2;
    column-gap: 5%;
    font-size: x-large;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 11;
  }
  /*Places img in the grid in the top half of the page  in the middle*/
  #index-under-intro-img-div {
    border-radius: 1%;
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 11;
  }
  /*places content in the grid*/
  #index-under-intro-area {
    grid-row-start: 10;
    grid-row-end: 16;
    grid-column-start: 4;
    grid-column-end: 9;
    background-color: #1f1f1f;
    text-align: center;
    box-shadow: 1em 1em 1em #323232;
    border-radius: 1%;
  }
  /*Make content phone white and ads width heigth and margin to make it look good relative to the page*/
  #index-under-intro-white-area {
    background-color: #ffffff;
    width: 90%;
    height: 90%;
    margin: auto;
  }
/*Places the faculties boxes in the middle rows of  the page and fills the columns of the grid*/
  #index-secondary-box {
    grid-row-start: 17;
    grid-row-end: 23;
    grid-column-start: 1;
    grid-column-end: 12;
  }
  /*Ads appropriate heigth and width relative to the main page*/
  .index-secondary-box-div {
    width: 20%;
    height: 40em;
  }
  /*Places the campus in the bottom half of the page and in the middle of the columns*/
  #index-third-box {
    grid-row-start: 24;
    grid-row-end: 32;
    grid-column-start: 2;
    grid-column-end: 11;
    padding: 1em;
  }

  /*Places campus images next to eachother and ads padding and margin and border radius for style*/
  .index-third-campus-div {
    border-radius: 1%;
    margin: 0.3em;
    padding: 0.3em;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 40em;
  }

}

/*End of media quearry for pc*/