body {
  color: black;
  background-color: white;
}
.navbar {
  overflow: hidden;
  background-color: #308a91;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(224, 207, 195);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
p {
  line-height: 1.5;
}

.dropdown-meny {
  float: left;
  overflow: hidden;
}

.dropdown-meny .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(224, 207, 195);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown-meny:hover .dropbtn {
  background-color: red;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(224, 207, 195);
  padding: 12px;
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: #308a91;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown-meny:hover .dropdown-content {
  display: block;
}

#digital-bilde {
  height: 60%;
  width: 60%;
  padding-left: 20%;

}
/*Left aligns all text in the body of topical */
.topical-body {
  text-align: left;
}

/*Makes a container the has a grid with 5 columns and 5 rows that are each 1 fraction and the gaps are each 3 times the font of the emelemt(em) */
.container-topical {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}

/*Makes a grid for the header in the page topical starting on row 1 and column 3 and ending on row 3 and column 6*/
.grid-header-topical {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 6;

  
}

/*Makes a grid for the header in the page topical starting on row 1 and column 2 and ending on row 6 and column 4*/
.grid-body-topical {
  grid-row-start: 1;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;

}

/*Makes a grid for the header in the page topical starting on row 2 and column 5 and ending on row 6 and column 4*/
.grid-aside-topical {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 4;
  justify-content: center;
  


}

/*Styles the healthpicture with height 100% and width% and puts in in the center og the grid*/
#healthpicture {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/*Makes the header in the page topical in the grid and centered*/
#topical-heading {
  display: grid;
  place-items: center;

}

.digibildev2{
height: 30%;
width: 100%;



}
#under-image-text{
  color: gray;
  margin-top: 0;
}

#snl-link{
  color: black;
}

.digibildev2 + p {
  margin-top: 0;
}


